.field {
    margin-bottom: 10px;
}
  
.field label {
    display: block;
    font-size: 20px;
    color: #777;
}

.write-name, .write-message {
    display: block;
    min-width: 250px;
    line-height: 1.5;
    font-size: 18px;
    border-radius: 10px;
    text-transform: capitalize;
}

.write-mail {
  display: block;
  min-width: 250px;
  line-height: 1.5;
  font-size: 18px;
  border-radius: 10px;
  text-transform: none
}

input[type="submit"] {
    display: block;
    padding: 6px 30px;
    font-size: 14px;
    background-color: #4460AA;
    color: #fff;
    border: none;
    border-radius: 10px;
}

.social__links span a i{
  color: #7865ff;
}

.social__links span{
  margin-right: 15px;
}

.about__content{
  display: block;
  margin-left: 50px;
}
.about__content h2{
  margin-bottom: 30px;
}

.about__content p{
  line-height: 30px;
  font-weight: 300;
}

.test{
  display: flex;
}