.field {
    margin-bottom: 10px;
}
  
.field label {
    display: block;
    font-size: 12px;
    color: #777;
}

.write-name, .write-message {
    display: block;
    min-width: 250px;
    line-height: 1.5;
    font-size: 18px;
    border-radius: 10px;
    text-transform: capitalize;
}

.write-mail {
  display: block;
  min-width: 250px;
  line-height: 1.5;
  font-size: 18px;
  border-radius: 10px;
  text-transform: none
}

input[type="submit"] {
    display: block;
    padding: 6px 30px;
    font-size: 14px;
    background-color: #4460AA;
    color: #fff;
    border: none;
    border-radius: 10px;
}

